html, body {
    margin: auto;
    padding: 0;
    width: 70%;
    font-size: 1.5em;
  }

canvas {
    display: block;
  }

h1 {
  font-size: 5em;
  font-weight: normal;
  font-style: italic;
  text-align: center;
  margin-bottom: 10px;
}

h4 {
  font-size: 1.5em;
  font-weight: normal;
  text-align: center;
}

img {
  filter: saturate(0%);
  display: block;
  margin: 5% auto 5% auto;
  width: 80%;
  border: solid 2px black;
}

p {
  text-align: center;
}

iframe {
  display: block;
  width: 1000px;
  height: 600px;
  margin: 5% auto 5% auto;
}